body {
    background: #ededed;
    color: #181818;
}

header {
    /* 粗体 */
    font-weight: bold;
    font-size: 1.2rem;
    /* 固定在上方 */
    position: fixed;
    width: 100%;
    top: 0px;
}

header>div {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid #dcdcdc;
}

.mr {
    margin-right: 1.5rem;
}
main {
    /* fixed定位会挡住相邻的元素，需要调整间距避开 */
    margin-top: 2.6rem;
    background-color: #ffffff;
    margin-bottom: 4.7rem;
}
footer {
    position: fixed;
    background: #ededed;
    width: 100%;
    bottom: 0px;
    z-index: 10;
}

footer>div {
    display: flex;
    /* 平均分配 */
    justify-content: space-around;
    padding: 0.5rem 0px;
    border-top: 1px solid #dcdcdc;
}

footer .iconfont {
    font-size: 2rem;
}

.active-icon {
    /* 激活的图标 */
    color: #08c261;
}